<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>42648008239-9nm0j1bh1umrtrct2vitgrt7fmq9c8ov.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFYfZCyoNsM4j4Wdzcjz08DDqiq5Lk1uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>42648008239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dentalhub.dentalHub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>arabianporterwebkul</string>
	<key>STORAGE_BUCKET</key>
	<string>arabianporterwebkul.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42648008239:ios:c0679b862ba9b6e5a5f8da</string>
	<key>DATABASE_URL</key>
	<string>https://arabianporterwebkul.firebaseio.com</string>
</dict>
</plist>